/.quarto/
/_site/
/_freeze/
/til/posts/2024-11-21-Datasette/Datasette.ipynb
/til/posts/2025-06-16-Jupyter_Quiz/.ipynb_checkpoints/
til/posts/2025-06-15-Embed_REPL/.ipynb_checkpoints/
blog/posts/2025-06-17-Understanding-Tokenizers/.ipynb_checkpoints/
blog/posts/2025-06-20-Understanding-Chat-Templates/.ipynb_checkpoints/
blog/posts/2025-06-28-Understanding-Memory/.ipynb_checkpoints/
til/posts/2025-06-29-Quarto-Marimo/.ipynb_checkpoints/
til/posts/2025-07-04-Chess/.ipynb_checkpoints/
blog/posts/2023-04-21-Observatorio-de-sueldos-en-Chile/.ipynb_checkpoints/
blog/posts/2024-04-19-Build_a_basic_LLM_chat_app_with_Solara/.ipynb_checkpoints/
blog/posts/2025-07-05-Understanding-Function-Calling/.ipynb_checkpoints/
blog/posts/2025-07-11-Understanding-Structured-Outputs/.ipynb_checkpoints/
blog/posts/2025-07-16-Understanding-Logits-Processors/.ipynb_checkpoints/
til/posts/2025-07-17-Notebook-Cells/.ipynb_checkpoints/
